:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

@font-face {
    font-family: "Outfit";
    src: url(/Outfit/Outfit-VariableFont_wght.ttf);
}

body {
    font-size: 15px;
    background-color: var(--color-light-gray);
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 300px;
    text-align: center;
}

.card img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.card h2 {
    color: var(--color-dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

.card p {
    color: var(--color-grayish-blue);
    font-weight: 400;
}
